.login
{
	height:500px;
}

.padding
{
	margin-top:20px;
	margin-bottom:20px;
}

.forgot-button
{
	width:50%;
	padding-left:0px;
	padding-right:0px;
	height:40px;
}

.login-button
{
	width:50%;
	padding-left:0px;
	padding-right:0px;
	height:40px;
	white-space: normal;
	word-wrap: break-word;
}

.button-container
{
	width:100%;
	padding-left:0px;
	padding-right:0px;
	white-space: normal;
	word-wrap: break-word;
}