<ion-tabs>

  <ion-tab-bar class="bottom-tab" slot="bottom">
    <ion-tab-button tab="store">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label class="tab-title">Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label class="tab-title">Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label class="tab-title">Products</ion-label>
    </ion-tab-button>
	
	<ion-tab-button tab="reviews">
      <ion-icon name="star-half-outline"></ion-icon>
      <ion-label class="tab-title">Reviews</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
